<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <title>Ubah Proyek</title>
</head>

<body>
  <div class="container">
    <div class="text-center pt-5">
      <h2>Ubah Proyek</h2>
    </div>
    <form th:action="@{/proyek/{id}/update(id=${proyekDTO.id})}" th:object="${proyekDTO}" method="POST">
      <input class="form-control" type="hidden" th:field="*{id}" />

      <label>Nama Proyek: </label>
      <input class="form-control" type="text" th:field="*{nama}" />
      <br>

      <label>Tanggal Mulai: </label>
      <input class="form-control" type="date" th:field="*{tanggalMulai}" />
      <br>

      <label>Tanggal Selesai: </label>
      <input class="form-control" type="date" th:field="*{tanggalSelesai}" />
      <br>

      <label>Status: </label>
      <input class="form-control" type="text" th:field="*{status}" />
      <br>

      <label>Developer: </label>
      <input class="form-control" type="text" th:field="*{developer}" />
      <br>

      <button type="submit" class="btn btn-primary">Submit</button>
      <a class="btn btn-secondary" href="/">Home</a>
    </form>
  </div>
</body>

</html>
