<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <title>Proyek Dihapus</title>
</head>

<body>
  <div class="container text-center pt-5">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Proyek Berhasil Dihapus</h4>
      <p>Proyek dengan ID <span th:text="${id}"></span> telah berhasil dihapus dari sistem.</p>
      <hr>
      <a class="btn btn-primary" href="/proyek/viewall">Kembali ke Daftar Proyek</a>
    </div>
  </div>
</body>

</html>
